/* 簡便のために全要素のmarginとpaddingを0にする。 */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
}

#btn {
  width: 200px;
  height: 200px;
  background-color: #ef4a4f;
  border-radius: 50%;
  margin: 30px auto;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-weight: bold;
  font-size: 35px;
  cursor: pointer;
  box-shadow: 0 10px 0 #d1483e;
  user-select: none;
}

#btn:hover {
  opacity: 0.9;
}

#btn:active {
  box-shadow: 0.5px 0 #d1483e;
  transform: translateY(5px);
}

h1 {
  width: 200px;
  margin: 30px auto;
  margin-top: 60px;
  text-align: center;
}

#gacha-list li {
  width: 20%;
  display: flex;
  float: left;
  height: 100px;
  font-size: 40px;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.SSR {
  font-weight: bold;
  color: transparent;
  background: repeating-linear-gradient(45deg,
  #F5B090 0.1em 0.2em,
  #FCD7A1 0.2em 0.3em,
  #FFF9B1 0.3em 0.4em,
  #A5D4AD 0.4em 0.5em,
  #A3BCE2 0.5em 0.6em,
  #A59ACA 0.7em 0.8em,
  #CFA7CD 0.8em 0.9em);
  -webkit-background-clip: text;
}

.SR {
  font-weight: bold;
  color: transparent;
  background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
  -webkit-background-clip: text;
}

.R {
  font-weight: bold;
  color: #9900ff;
}

p {
  margin-top: 25%;
  margin-left: 49px;
}